.schedule-container {
  overflow: auto;
  .schedule-card {
    box-shadow: 2px 1px 5px 0px black;
    table {
      tr {
        max-width: 10px;
        td,
        th {
          text-align: center;
          max-width: 95px;
        }
      }
    }
  }
}
