.container-body {
  overflow: auto;
  height: calc(100vh - 50px);
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(114, 168, 219);
  width: 100vw;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid;
  list-style: none;
  li {
    height: inherit;
    padding: 0.7rem 2rem;
    font-weight: bold;
    border-right: 1px solid;
  }
}
