@import '../../assets/global.scss';

.member-detail-container {
  position: relative;
  .header-sticky {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 5px 1px 0px #dedede;
    .member-header {
      @include flex-between-center;
    }
  }
  .member-body-container {
    height: calc(100vh - 155px);
    margin-top: 165px;
    .memeber-body {
      overflow: auto;
      .member-info {
        @include flex-between-center;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #dedede;
        padding-bottom: 0.2rem;
        .key {
          color: #43586d;
          font-weight: bold;
        }
      }
    }
  }
}

.day-row {
  padding: 1rem;
  box-shadow: 3px 2px 4px black;
  @include flex-between-center;
  .day {
    font-weight: bold;
    color: $color-primary;
  }
  .excercise {
    color: $color-primary;
    font-weight: bold;
  }
}

.schedule-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    font-weight: bolder;
  }
  .fa-angle-right {
    font-size: 25px;
  }
  .fa-angle-down {
    font-size: 25px;
  }
}

.schedule-container {
  transition: all 1s;
}
