.header {
  height: 50px;
}

.set-width {
  display: block !important;
}

.custom-dd-design {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43586d;
  border: none;
}

.user-menu {
  position: absolute;
  top: 44px;
  display: none;
  transition: all 1s ease-in;
  border: 1px solid;
  min-width: 125px;
  background: #43586d;
  color: #fff;
  right: 10px;
  border-radius: 6px;
  ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
    li {
      padding: 0.5rem;
      cursor: pointer;
      font-weight: bold;
      border-bottom: 1px solid #fff;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.header-container {
  width: 100vw;
  display: flex;
  z-index: 999;
  position: fixed;
  background-color: #43586d;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  .left-side {
    .menu-icon {
      cursor: pointer;
      color: #fff;
    }
  }
  .right-side {
    display: flex;
    .avatar {
      width: 40px;
      height: 40px;
      background-color: red;
      border-radius: 50%;
    }
  }
}
