.sidebar-container {
  position: absolute;
  left: 0;
  display: none;
  z-index: 99999;
  display: block;
  color: #fff;
  width: 0;
  transition: width 0.5s;
  background-color: #43586d;
  .sidebar-div {
    display: none;
    .sidebar-header {
      display: flex;
      border-bottom: 1px solid;
      height: 45px;
      background-color: #43586d;
      justify-content: space-between;
      align-items: center;
      .left-side {
        font-weight: bold;
      }
      .right-side {
        font-weight: bold;
      }
    }
    .sidebar-body {
      .app-logo {
        height: 70px;
        width: 120px;
        margin: 10px auto;
      }
      ul {
        list-style: none;
        padding: 11px 0;
        li {
          &:hover {
            color: grey;
          }
          cursor: pointer;
          border-bottom: 1px solid;
          padding: 0.5rem 0;
          font-weight: bold;
        }
      }
      .bottom-logout {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem 1rem;
        button {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .sideWidth {
    width: 40%;
  }
}

@media only screen and (min-width: 1199px) {
  .sideWidth {
    width: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .sideWidth {
    width: 60%;
  }
}
