@media only screen and (min-width: 768px) {
    .container-div {
        max-width: 50%;
    }   
    .fixed-bottom {
        bottom: 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }     
}

.fixed-bottom {
    bottom: 0;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    .fixed-button {
        background-color: #326486
    }
}

