@import '../../assets/global.scss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .user-card {
   display: flex;
   justify-content: space-between;
    box-shadow: 1px -1px 7px #dedede;
    .profile {
      img {
        height: 25px;
      }
    }
  }

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.members-toggleBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  .toggle-btn {
    background-color: $color-primary;
    border-radius: 48%;
  }
}
