@import '../../../sass/resources.scss';

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.InputDiv {
    position: relative;
    &__Input {
        padding: 5px 30px;
        outline: none;
        width: 100%;
        color: #1e1e67;
        font-size: 15px;
        border-radius: 5px;
        font-family: Lato;
        border: 1px solid $colorLightGray;
        &:focus {
            outline: none;
            border: 1px solid $colorPrimary;        
        }       
    
    }
    &__search {
        position: absolute;
        left: 10px;
        top: 8px;
    }

    &__loading {
        position: absolute;
        right: 10px;
        color: #1e1e67;
        top: 7px;
        color: blue;
        font-size: 16px;
        animation: rotation 2s infinite linear;
    }
}