$color-primary: #43586d;
$color-light-primary: #76889a;
$color-danger: '';
$color-success: '';
$color-warning: '';
$color-error: '';

$text-white: #fff;

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
