@import '../../assets/global.scss';

.settings-container {
  .header-fixed {
    position: fixed;
    right: 1rem;
    padding-top: 1rem;
    background: #fff;
    width: 100%;
  }
  .settings-body {
    padding: 3rem 1rem 0 1rem;
    .form-group {
      label {
        color: $color-primary;
      }
    }
  }
}
